<main>
  <section class="info-panel slideshow">
    <div class="slide"></div>
    <div class="slide"></div>
    <div class="slide"></div>
    <div class="shape"></div>
    <div class="shape"></div>
    <div class="shape"></div>
  </section>

  <section class="login-panel">
    <article class="login-card">
      <div class="textbox">
        <h1><b>D</b>ungeon<b>M</b>ind</h1>
        <h2><b>Um sistema para jogar RPG utilizando IA</b></h2>
      </div>
      <mat-tab-group [(selectedIndex)]="selectedTabIndex" dynamicHeight>
        <!-- Entrar -->
        <mat-tab>
          <h2 class="mt-2">Entre em sua conta</h2>
          <form [formGroup]="loginForm" (ngSubmit)="login()">
            <mat-form-field>
              <mat-label>E-mail</mat-label>
              <input
                name="email"
                type="email"
                matInput
                formControlName="email"
                [errorStateMatcher]="matcher"
                placeholder="Ex. nome@exemplo.com"
              />
              @if (loginForm.get('email')?.hasError('required')) {
                <mat-error>O preenchimento deste campo é <strong>obrigatório</strong></mat-error>
              } @else if (loginForm.get('email')?.hasError('email')) {
                <mat-error>Insira um endereço de e-mail válido</mat-error>
              }
            </mat-form-field>
            <mat-form-field>
              <mat-label>Senha</mat-label>
              <input
                type="password"
                matInput
                formControlName="password"
                [errorStateMatcher]="matcher"
              />
              @if (loginForm.get('password')?.hasError('required')) {
                <mat-error>O preenchimento deste campo é <strong>obrigatório</strong></mat-error>
              }
            </mat-form-field>
            <button type="submit" class="btn">Entrar</button>
            @if (this.loginError != ''){
              <mat-error class="text-center">{{ this.loginError }}</mat-error>
            }
          </form>
          <div class="links">
            <a title="Crie uma conta" (click)="goToTab(1)">Crie uma conta</a>
            <!-- TODO: Implementar reset de senha -->
            |
            <a title="Esqueceu a senha?" (click)="goToTab(2)">Esqueceu a senha?</a>
          </div>
        </mat-tab>
        <!-- Criar -->
        <mat-tab>
          <h2>Crie sua conta</h2>
          <form [formGroup]="signupForm" (ngSubmit)="create()">
            <mat-form-field>
              <mat-label>E-mail</mat-label>
              <input
                name="email"
                type="email"
                matInput
                formControlName="email"
                [errorStateMatcher]="matcher"
                placeholder="Ex. nome@exemplo.com"
                />
              @if (signupForm.get('email')?.hasError('required')) {
                <mat-error>O preenchimento deste campo é <strong>obrigatório</strong></mat-error>
              } @else if (signupForm.get('email')?.hasError('email')) {
                <mat-error>Insira um endereço de e-mail válido</mat-error>
              }
            </mat-form-field>
            <mat-form-field>
              <mat-label>Senha</mat-label>
              <input
                type="password"
                matInput
                formControlName="password"
                [errorStateMatcher]="matcher"
              />
              @if (signupForm.get('password')?.hasError('required')) {
                <mat-error>O preenchimento deste campo é <strong>obrigatório</strong></mat-error>
              } @else if (signupForm.get('password')?.hasError('minlength')) {
                <mat-error>Este campo deve conter no mínimo <strong>5 digitos</strong></mat-error>
              }
            </mat-form-field>
            <mat-form-field>
              <mat-label>Confirme sua senha</mat-label>
              <input
                type="password"
                matInput
                formControlName="confirmPassword"
                [errorStateMatcher]="matcher"
              />
              @if (signupForm.get('confirmPassword')?.hasError('required')) {
                <mat-error>O preenchimento deste campo é <strong>obrigatório</strong></mat-error>
              } @else if (signupForm.get('confirmPassword')?.hasError('minlength')) {
                <mat-error>Este campo deve conter no mínimo <strong>5 digitos</strong></mat-error>
              }
            </mat-form-field>
            <button type="submit" class="btn">Criar</button>
            @if (this.signupError != ''){
              <mat-error class="text-center">Não foi possível criar sua conta. Certifique-se de que o e-mail informado é valido</mat-error>
            }
          </form>
          <div class="links">
            <a title="Entre com uma conta existente" (click)="goToTab(0)">Entre com uma conta existente</a>
          </div>
        </mat-tab>
        <!-- TODO: Implementar reset de senha -->
        <!-- Recuperar -->
        <mat-tab>
          <h2>Recupere sua senha</h2>
          <form [formGroup]="recoverForm" (ngSubmit)="onSubmit(this.recoverForm.value)">
            <mat-form-field>
              <mat-label>E-mail da conta</mat-label>
              <input
                name="email"
                type="email"
                matInput
                formControlName="email"
                [errorStateMatcher]="matcher"
                placeholder="Ex. nome@exemplo.com"
              />
              @if (recoverForm.get('email')?.hasError('required')) {
                <mat-error>O preenchimento deste campo é <strong>obrigatório</strong></mat-error>
              } @else if (recoverForm.get('email')?.hasError('email')) {
                <mat-error>Insira um endereço de e-mail válido</mat-error>
              }
            </mat-form-field>
            <button type="submit" matButton="filled">Recuperar senha</button>
          </form>
          <div class="links">
            <a title="Entre com uma conta existente" (click)="goToTab(0)">Entre com uma conta existente</a> |
            <a title="Crie uma conta" (click)="goToTab(1)">Crie uma conta</a>
          </div>
        </mat-tab>
        <!-- Confirmação -->
        <mat-tab>
          <h2>Insira o código enviado ao seu e-mail</h2>
          <form [formGroup]="confirmationForm" (ngSubmit)="onSubmit(this.confirmationForm.value)">
            <mat-form-field>
              <mat-label>Código</mat-label>
              <input
                type="text"
                matInput
                formControlName="code"
                [errorStateMatcher]="matcher"
                placeholder="Ex. 123456"
              />
              @if (recoverForm.get('code')?.hasError('required')) {
                <mat-error>O preenchimento deste campo é <strong>obrigatório</strong></mat-error>
              }
            </mat-form-field>
            <button type="submit" matButton="filled">Confirmar</button>
          </form>
          <div class="links">
            <a title="Retornar" (click)="goToTab(3)">Retornar</a>
          </div>
        </mat-tab>
        <!-- Redefinição -->
        <mat-tab>
          <h2>Redefina sua senha</h2>
          <form [formGroup]="passwordResetForm" (ngSubmit)="onSubmit(this.passwordResetForm.value)">
            <mat-form-field>
              <mat-label>Nova senha</mat-label>
              <input
                type="password"
                matInput
                formControlName="password"
                [errorStateMatcher]="matcher"
              />
              @if (passwordResetForm.get('password')?.hasError('required')) {
                <mat-error>O preenchimento deste campo é <strong>obrigatório</strong></mat-error>
              }
            </mat-form-field>
            <mat-form-field>
              <mat-label>Confirme sua nova senha</mat-label>
              <input
                type="password"
                matInput
                formControlName="confirmPassword"
                [errorStateMatcher]="matcher"
              />
              @if (passwordResetForm.get('confirmPassword')?.hasError('required')) {
                <mat-error>O preenchimento deste campo é <strong>obrigatório</strong></mat-error>
              }
            </mat-form-field>
            <button type="submit" matButton="filled">Confirmar redefinição</button>
          </form>
          <div class="links">
            <a title="Retornar" (click)="goToTab(4)">Retornar</a>
          </div>
        </mat-tab>
      </mat-tab-group>
    </article>
  </section>
</main>
