
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
@use "tailwindcss";

html {
  @include mat.theme((
    color: (
      primary: mat.$orange-palette,
      tertiary: mat.$cyan-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }

@font-face {
  font-family: MorrisRoman;
  src: url(./app/login/assets/MorrisRomanBlack.otf);
}

/* Variables */
$title-primary: red;
$title-secondary: #ffae00;

.title {
  font-family: MorrisRoman;
  color: $title-secondary;

  & b {
    color: $title-primary;
    text-shadow:
      -2px -1px 0 $title-secondary,
       1px -1px 0 $title-secondary,
      -1px  1px 0 $title-secondary,
       1px  1px 0 $title-secondary;
  }
}

/* Remove estilos padrão de botões */
button {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  color: inherit;
  text-shadow: none;
  box-shadow: none;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.btn {
  padding: 0.8rem 1rem;
  background: #7c5e3b;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.3);

  &:hover {
    background: #5a4332;
  }
}
