<main class="container">
  <!-- Sidebar -->
  <aside class="sidebar" [class.collapsed]="!showSidebar">
    <nav>
      <!-- Logo e menu -->
      <button (click)="toggleSidebar()">
        @if (showSidebar){
          <span class="label"><b>D</b>ungeon<b>M</b>ind</span>
        }
        <fa-icon class="icon" [icon]="faBars" />
      </button>

      <!-- Criar registros -->
      <button (click)="createCharacter()">
        <fa-icon class="icon" [icon]="faUserPlus" />
        @if (showSidebar){
          <span class="label">Novo Personagem</span>
        }
      </button>

      @if (characters.length){
        <button (click)="createCampaign()">
          <fa-icon class="icon" [icon]="faPlus" />
          @if (showSidebar){
            <span class="label">Nova Campanha</span>
          }
        </button>
      }
      @if (campaigns.length || characters.length){
        <hr class="bar">
      }
      <!-- Campanhas -->
      @if (campaigns.length){
        <button (click)="toggleCampaigns()">
          <fa-icon class="icon" [icon]="faBook" />
          @if (showSidebar){
            <span class="label">Campanhas</span>
            @if (!showCampaigns){
              <fa-icon class="last" [icon]="faCaretDown" />
            } @else {
              <fa-icon class="last" [icon]="faCaretUp" />
            }
          }
        </button>
        <div class="accordion-body" [class.open]="showCampaigns">
          @for (campaign of campaigns; track campaign.id; let i = $index) {
            <div class="item">
              <span (click)="editCampaign(campaign.campanha_id)">{{ campaign.titulo }}</span>
              <button class="delete" (click)="deleteCampaign(campaign.campanha_id)"><fa-icon [icon]="faXmark" /></button>
            </div>
          }
        </div>
      }

      <!-- Personagens -->
      @if (characters.length){
        <button (click)="toggleCharacters()">
          <fa-icon class="icon" [icon]="faPeopleGroup" />
          @if (showSidebar){
            <span class="label">Personagens</span>
            @if (!showCharacters){
              <fa-icon class="last" [icon]="faCaretDown" />
            } @else {
              <fa-icon class="last" [icon]="faCaretUp" />
            }
          }
        </button>
        <div class="accordion-body" [class.open]="showCharacters">
          @for (char of characters; track char.personagem_id; let i = $index) {
            <div class="item">
              <span (click)="editCharacter(char.personagem_id)">{{ `${char.nome}, ${char.classe} ${char.raca}` }}</span>
              <button class="delete" (click)="deleteCharacter(char.personagem_id)"><fa-icon [icon]="faXmark" /></button>
            </div>
          }
        </div>
      }

      <!-- Sair -->
      <button class="bottom" (click)="logout()">
        <fa-icon class="icon" [icon]="faArrowRightFromBracket" />
        @if (showSidebar){
          <span class="label">Sair</span>
        }
      </button>
    </nav>
  </aside>

  <!-- Main Chat -->
  <div class="chat-container">
    <div class="chat-messages">
      <div class="message ai"><span>Saudações, aventureiro! Pronto para começar sua jornada?</span></div>
      <div class="message user"><span>Sim! Conte-me sobre a vila onde o jogo começa.</span></div>
      <div class="message ai"><span>Saudações, aventureiro! Pronto para começar sua jornada?</span></div>
      <div class="message user"><span>Sim! Conte-me sobre a vila onde o jogo começa.</span></div>
      <div class="message ai"><span>Saudações, aventureiro! Pronto para começar sua jornada?</span></div>
      <div class="message user"><span>Sim! Conte-me sobre a vila onde o jogo começa.</span></div>
      <div class="message ai"><span>Saudações, aventureiro! Pronto para começar sua jornada?</span></div>
      <div class="message user"><span>Sim! Conte-me sobre a vila onde o jogo começa.</span></div>
      <div class="message ai"><span>Saudações, aventureiro! Pronto para começar sua jornada?</span></div>
      <div class="message user"><span>Sim! Conte-me sobre a vila onde o jogo começa.</span></div>
    </div>
    <div class="chat-options">
      <div class="char-info">
        <span class="info-id">
          Lorith, Mago Elfo
        </span>|
        <span class="info-hp">
          <fa-icon class="icon" [icon]="faHeart" />
          8/20
        </span>|
        <span class="info-ep">
          <fa-icon class="icon" [icon]="faBoltLightning" />
          8/8
        </span>
        <!-- TODO: Implementar sistema de níveis -->
        <!-- |
        <span class="info-lvl">Nível 3</span>|
        <span class="info-xp">XP: 2/4</span> -->
      </div>
      <div class="chat-input">
        <!-- TODO: Implementar inventário -->
        <!-- <button><fa-icon class="icon" [icon]="faSackXmark" /></button> -->
        <input type="text" placeholder="Digite sua ação..." />
        <button><fa-icon class="icon" [icon]="faPaperPlane" /></button>
      </div>
    </div>
  </div>
</main>
